<section class="gallery">
  <div class="container">
    <h2 class="gallery__title">Favorite cocktails</h2>
    <div class="gallery__wrapper">
      <div class="card sceleton--card">
        <div class="sceleton sceleton--img"></div>
        <h3 class="card__title sceleton sceleton--title"></h3>
        <div class="buttons">
          <button type="button" class="buttons__btn sceleton sceleton--btn"> </button>
          <button type="button" class="buttons__btn sceleton sceleton--btn"> </button>
        </div>
      </div>
      <div class="card sceleton--card sceleton--item-2">
        <div class="sceleton sceleton--img"></div>
        <h3 class="card__title sceleton sceleton--title"></h3>
        <div class="buttons">
          <button type="button" class="buttons__btn sceleton sceleton--btn"> </button>
          <button type="button" class="buttons__btn sceleton sceleton--btn"> </button>
        </div>
      </div>
      <div class="card sceleton--card sceleton--item-3">
        <div class="sceleton sceleton--img"></div>
        <h3 class="card__title sceleton sceleton--title"></h3>
        <div class="buttons">
          <button type="button" class="buttons__btn sceleton sceleton--btn"> </button>
          <button type="button" class="buttons__btn sceleton sceleton--btn"> </button>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>