<div class="backdrop-team is-hidden-js">
  <div class="modal-team">
    <button type="button" class="modal-team__close-btn">
      <svg class="modal-team__close-icon" width="30" height="30">
        <use href="./././images/icons.svg#icon-close-modal"></use>
      </svg>
    </button>
    <div class="team-title-wrapper">
      <h1 class="team__name">EASY TEAM</h1>
    </div>
    <ul class="team">
      <li class="team__item">
        <div class="img-wrapper">
          <img class="team__img" src="./images/Olga.jpg" alt=" image" loading="lazy" />
        </div>
        <a target="_blank" rel="noopener noreferrer nofollow" href="https://www.linkedin.com" class="team__link">
        </a>
        <a target="_blank" rel="noopener noreferrer nofollow" href="https://github.com/eugene17kotov"
          class="team__link">
        </a>
        <div class="team__text-content">
          <p class="team__member">Ольга</p>
          <p class="team__role">Team Lead</p>
        </div>
      </li>
      <li class="team__item">
        <div class="img-wrapper">
          <img class="team__img" src="./images/Andrew.jpg" alt="Andriy image" loading="lazy" />
        </div>

        <a target="_blank" rel="noopener noreferrer nofollow"
          href="https://www.linkedin.com/in/dmitry-knyagnitskiy-711b55209/" class="team__link">
        </a>
        <a target="_blank" rel="noopener noreferrer nofollow" href="https://github.com/dimak911" class="team__link">
        </a>
        <div class="team__text-content">
          <p class="team__member">Андрій</p>
          <p class="team__role">Scrum</p>
        </div>
      </li>
      <li class="team__item">
        <div class="img-wrapper">
          <img class="team__img" src="./images/Nastia.jpg" alt="Anastasiya image" loading="lazy" />
        </div>

        <a target="_blank" rel="noopener noreferrer nofollow"
          href="https://www.linkedin.com/in/sergey-smirnov-9123a623b/" class="team__link">

        </a>
        <a target="_blank" rel="noopener noreferrer nofollow" href="https://github.com/morysol" class="team__link">

        </a>
        <div class="team__text-content">
          <p class="team__member">Анастасія</p>
          <p class="team__role">Developer</p>
        </div>
      </li>
      <li class="team__item">
        <div class="img-wrapper">
          <img class="team__img" src="./images/Olexij.jpg" alt="Oleksij image" loading="lazy" />
        </div>

        <a target="_blank" rel="noopener noreferrer nofollow"
          href="https://www.linkedin.com/in/svitlana-chudesa-55273a21a/" class="team__link">

        </a>
        <a target="_blank" rel="noopener noreferrer nofollow" href="https://github.com/veta41" class="team__link">

        </a>
        <div class="team__text-content">
          <p class="team__member">Олексій</p>
          <p class="team__role">Developer</p>
        </div>
      </li>
      <li class="team__item">
        <div class="img-wrapper">
          <img class="team__img" src="./images/Bogdan.jpg" alt="Bogdan image" loading="lazy" />
        </div>

        <a target="_blank" rel="noopener noreferrer nofollow"
          href="https://www.linkedin.com/in/natalia-bubnova-9366061b9/" class="team__link">

        </a>
        <a target="_blank" rel="noopener noreferrer nofollow" href="https://github.com/Natalia7777777"
          class="team__link">

        </a>
        <div class="team__text-content">
          <p class="team__member">Богдан</p>
          <p class="team__role">Developer</p>
        </div>
      </li>
      <li class="team__item">
        <div class="img-wrapper">
          <img class="team__img" src="./images/Dima.jpg" alt="Dmytro image" loading="lazy" />
        </div>

        <a target="_blank" rel="noopener noreferrer nofollow" href="https://www.linkedin.com/in/artem-makhov/"
          class="team__link">

        </a>
        <a target="_blank" rel="noopener noreferrer nofollow" href="https://github.com/ArtemMakhov" class="team__link">

        </a>
        <div class="team__text-content">
          <p class="team__member">Дмитро</p>
          <p class="team__role">Developer</p>
        </div>
      </li>
      <li class="team__item">
        <div class="img-wrapper">
          <img class="team__img" src="./images/Yana.jpg" alt="Yana image" loading="lazy" />
        </div>

        <a target="_blank" rel="noopener noreferrer nofollow"
          href="https://www.linkedin.com/in/valeriia-sopko-511551221/" class="team__link">

        </a>
        <a target="_blank" rel="noopener noreferrer nofollow" href="https://github.com/Volika" class="team__link">

        </a>
        <div class="team__text-content">
          <p class="team__member">Павло</p>
          <p class="team__role">Developer</p>
        </div>
      </li>
      <li class="team__item">
        <div class="img-wrapper">
          <img class="team__img" src="./images/Pulo.jpg" alt="Pavlo image" loading="lazy" />
        </div>

        <a target="_blank" rel="noopener noreferrer nofollow"
          href="https://www.linkedin.com/in/denys-cherneha-020698245/" class="team__link">

        </a>
        <a target="_blank" rel="noopener noreferrer nofollow" href="https://github.com/denkach" class="team__link">

        </a>
        <div class="team__text-content">
          <p class="team__member">Яна</p>
          <p class="team__role">Developer</p>
        </div>
      </li>
    </ul>
  </div>
</div>