.sceleton {
  opacity: 0.7;
  animation: skeleton-loading 1s linear infinite alternate;

  &--card {
    border: none !important;
  }

  &--title {
    display: block;
    align-self: center;
    border-radius: 4px;
    width: 75%;
    height: 40px;
  }

  &--img {
    width: 278px;
    height: 278px;
    border-radius: 4px;

    @include mq(tablet) {
      width: 333px;
      height: 333px;
    }
  }
  &--btn {
    min-width: 40%;
    height: 39px;
    border: none;

    @include mq(tablet) {
      height: 48px;
    }
  }
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 70%);
  }

  100% {
    background-color: hsl(200, 20%, 95%);
  }
}

.sceleton--item-2 {
  display: none;
  @include mq(tablet) {
    display: block;
  }
  @include mq(desctop) {
    width: 395px;
    padding-bottom: 28px;
  }
}
.sceleton--item-3 {
  display: none;
  @include mq(desctop) {
    display: block;
  }
}
